<template>
  <div>
    <div class="flex flex-col"> 
      <nav class="bg-white rounded-b-lg fixed inset-x-0 top-0 border-t-4 top-border">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="flex items-center justify-between h-16">
            <div class="flex items-center">
             
            </div>
            <div >
              <div class="ml-4 flex items-center md:ml-6">
                <button
                  class="p-1 border-2 border-transparent tab-text-color font-medium"
                >
                  Login
                </button>

              </div>
            </div>
          </div>
        </div>
       
      </nav>

      <main class="flex-grow ">
        <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
          <!-- Replace with your content -->
          <div class="px-4 py-12 sm:px-0 ">
            <div class="text-5xl text-center text-black">Deine Job website</div>         
          </div>
          <section class="w-full">
            <img src="../assets/images/image4.png" class="object-cover w-full h-1/2" alt="Image alt text" />
         </section>
          <div class="wave-container">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                  <path fill="#E8FAFC" d="M0,128L60,128C120,128,240,128,360,117.3C480,107,600,85,720,69.3C840,53,960,43,1080,42.7C1200,43,1320,53,1380,58.7L1440,64L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
                </svg>
          </div>
          <!-- /End replace -->

            <div class="flex flex-wrap">
                <div class="w-full bg-white">
                <ul class="flex mb-0 list-none flex-wrap ml-5 pt-3 pb-4 bg-white flex-row">
                    <li class="-mb-px last:mr-0 rounded-tl-lg rounded-bl-lg rounded-xl flex-auto text-center transition-all duration-150">
                      <a class="text-xs font-bold py-3 h-10 pt-2 align-middle shadow-lg rounded block leading-normal" v-on:click="toggleTabs(1)" v-bind:class="{'tab-text-color bg-white': openTab !== 1, 'text-white tab-active': openTab === 1}">
                          <i class="fas fa-space-shuttle text-base mr-1"></i> Arbeitnehmer
                      </a>
                    </li>
                    <li class="-mb-px last:mr-0 flex-auto text-center transition-all duration-150">
                      <a class="text-xs font-bold py-3 h-10 pt-2 align-middle shadow-lg rounded block leading-normal" v-on:click="toggleTabs(2)" v-bind:class="{'tab-text-color bg-white': openTab !== 2, 'text-white tab-active': openTab === 2}">
                          <i class="fas fa-cog text-base mr-1"></i> Arbeitgeber
                      </a>
                    </li>
                    <li class="-mb-px last:mr-0 rounded-tr-lg rounded-br-lg flex-auto text-center transition-all duration-150">
                        <a class="text-xs font-bold py-3 h-10 pt-2 align-middle shadow-lg rounded block leading-normal" v-on:click="toggleTabs(3)" v-bind:class="{'tab-text-color bg-white': openTab !== 3, 'text-white tab-active': openTab === 3}">
                            <i class="fas fa-briefcase text-base mr-1"></i> Temporarburo
                        </a>
                    </li>
                </ul>
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
                    <div class="py-5 flex-auto">
                    <div class="tab-content tab-space">
                        <div v-bind:class="{'hidden': openTab !== 1, 'block': openTab === 1}">
                            <div class="px-5 pb-4">
                                Dramatically visualize customer directed convergence
                                without revolutionary ROI.
                            </div>
                               
                          </div>
                        <div v-bind:class="{'hidden': openTab !== 2, 'block': openTab === 2}">
                            <div class="px-5 pb-4">
                                Completely synergize resource taxing relationships via
                                premier niche markets.
                            </div>
                        </div>
                        <div v-bind:class="{'hidden': openTab !== 3, 'block': openTab === 3}">
                          <div class="px-5 pb-4">
                              Efficiently unleash cross-media information without
                              cross-media value.
                          </div>
                        </div>
                        <div>
                           <div class="bg-white px-6 py-4 bg-white">
                                   <div><img src="../assets/images/image3.png" class="object-cover mx-auto w-3/4 h-4/5" alt="Image alt text" /></div>
                                    <div class="slashed-zero text-7xl text-gray-500">1.   <span class="text-base font-light" v-bind:class="{'hidden': openTab !== 1, 'visible': openTab === 1}"> Erstellen dein Lebenslauf </span>
                                    <span class="text-base font-light" v-bind:class="{'hidden': openTab !== 2, 'visible': openTab === 2}"> Erstellen dein Unterneh</span>
                                    <span class="text-base font-light" v-bind:class="{'hidden': openTab !== 3, 'visible': openTab === 3}"> Erstellen dein Lebenslauf </span>
                                    
                                    </div>
                                </div>
                                 <div class="above-wave-container"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                                    <path fill="#E8FAFC" fill-opacity="1" d="M0,256L48,245.3C96,235,192,213,288,197.3C384,181,480,171,576,170.7C672,171,768,181,864,202.7C960,224,1056,256,1152,245.3C1248,235,1344,181,1392,154.7L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
                                 </div>
                                <div class="middle-sec  px-6 py-4 ">
                                    <div class="slashed-zero text-7xl pl-3 text-gray-500" v-bind:class="{'hidden': openTab !== 1, 'visible': openTab === 1}">2.   <span class="text-base font-light"> Erstellen dein Lebenslauf </span></div>
                                    <div class="slashed-zero text-7xl pl-3 text-gray-500" v-bind:class="{'hidden': openTab !== 2, 'visible': openTab === 2}">2.   <span class="text-base font-light"> Erstellen ein Jobinserat </span></div>
                                    <div class="slashed-zero text-7xl pl-3 text-gray-500" v-bind:class="{'hidden': openTab !== 3, 'visible': openTab === 3}">2.   <span class="text-base font-light"> Erhalte Vermittlungs angenbot </span></div>
                                    <div><img src="../assets/images/image1.png" class="object-cover mx-auto w-3/4 h-4/5" alt="Image alt text" /></div>
                                </div>
                                <div class="wave-container">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                                      <path fill="#E8FAFC" d="M0,128L60,128C120,128,240,128,360,117.3C480,107,600,85,720,69.3C840,53,960,43,1080,42.7C1200,43,1320,53,1380,58.7L1440,64L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
                                    </svg>
                                </div>
                                <div class="bg-white px-6 py-4 bg-white">
                                    <div class="slashed-zero text-7xl pl-5 text-gray-500" v-bind:class="{'hidden': openTab !== 1, 'visible': openTab === 1}">3.   <span class="text-base font-light"> Mit nur einem Klick bewerben </span></div>
                                    <div class="slashed-zero text-7xl pl-5 text-gray-500" v-bind:class="{'hidden': openTab !== 2, 'visible': openTab === 2}">3.   <span class="text-base font-light"> Wahle deinen neuen Mitarbeiter aus </span></div>
                                    <div class="slashed-zero text-7xl pl-5 text-gray-500" v-bind:class="{'hidden': openTab !== 3, 'visible': openTab === 3}">3.   <span class="text-base font-light"> Vermittlung nach Provision</span></div>
                                    <div><img src="../assets/images/image2.png" class="object-cover mx-auto w-3/4 h-4/5" alt="Image alt text" /></div>
                                </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
      </main>
      <footer
        class="bg-white rounded-t-lg border-t-2 border-gray-300
                text-3xl text-white text-center inline-block align-middle
                fixed
                inset-x-0
                bottom-0
                p-2 h-16">
            <button type="button" class="bg-gradient-to-r text-base rounded w-10/12 h-10 from-green-400 to-blue-500 ">
                Kostenlos Registrieren
            </button>
    </footer>
    </div>
  </div>
</template>

<style>
    body, .middle-sec
    {
        background-color : #E8FAFC;
    }
    body {
      margin: 0;
      font-family: system-ui, sans-serif;
    }
    .tab-active
    {
      background: #81E6D9;
    }
    .tab-text-color{
      color: #81E6D9;
    }
.wave-container {
  position: relative;
  background: #fff;
  color: #FFF;
  text-align: center;
  overflow: hidden;
}
.above-wave-container
{
  position: relative;
  background: #fff;
  color: #FFF;
  text-align: center;
  overflow: hidden;
}
h1 {
  font-size: 5rem;
  margin: 7rem 1.25rem 2.5rem 1.25rem;
}
p {
  font-size: 1.5rem;
  margin: 0 1.25rem 5rem 1.25rem;
}
.top-border
{
  border-top: 4px solid #3188BD
}
        

</style>

<script>
    export default {
    name: "pink-tabs",
    data() {
        return {
        openTab: 1
        }
    },
    methods: {
        toggleTabs: function(tabNumber){
        this.openTab = tabNumber
        }
    }
    }
</script>